* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

/*header*/

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  height: 4em;
  background-color: white;
  color: black;
}

/*logo*/

.logo {
  font-family: Mukta;
  font-weight: light;
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.logo img {
  vertical-align: middle;
  height: 1.5em;
}

.svg1,
.svg2,
.svg3 {
  vertical-align: middle;
  height: 1.5em;
}

.svg0 {
  vertical-align: middle;
  height: 2.4em;
}

/*navbar*/

header li {
  display: inline-block;
  padding-left: 1em;
  opacity: 0.9;
}

header a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}

/*main*/

/*banner*/

.section-1 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(216, 216, 216);
  color: rgb(71, 71, 71);
}

.leftside {
  width: 60%;
  box-sizing: border-box;
  padding: 2em 1.5em;
}

.students {
  width: 100%;
  height: auto;
}

.students img {
  width: 100%;
  height: auto;
}

.text-section-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left;
  justify-content: center;
  width: 30%;
}

.text-section-1 h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 3.5em;
}

.text-section-1 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.25em;
}

.text-section-1 a {
  padding: 0.5em;
  margin-top: 1.25em;
  width: 85%;
  text-align: center;
  background-color: rgb(71, 71, 71);
  font-family: "Open Sans", sans-serif;
  font-size: 1.625em;
  color: white;
  text-decoration: none;
}

.text-section-1 a:hover {
  background-color: black;
  transition-delay: 50ms;
  transition-duration: 400ms;
}

/*articles*/

.section-2 {
  display: flex;
  flex-wrap: wrap;
  color: rgb(71, 71, 71);
}

.practice {
  width: 60%;
  box-sizing: border-box;
  padding: 2em 1.5em;
}

.practice .banner {
  width: 100%;
  padding-bottom: 2em;
}

.banner img {
  width: 100%;
}

.practice h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
}

.practice p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  padding-top: 1.5em;
}

.practice .author {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

/*news*/

.news {
  width: 40%;
  box-sizing: border-box;
  border-left: 1px rgb(228, 228, 228) solid;
}

.box {
  display: flex;
  border-bottom: 1px rgb(228, 228, 228) solid;
  box-sizing: border-box;
}

.box:hover {
  background-color: rgb(216, 216, 216);
}

.box .images {
  width: 35%;
  height: auto;
  padding: 1em;
}

.images img {
  width: 100%;
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 65%;
  font-family: "Open Sans", sans-serif;
}

.box-content h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  color: rgb(71, 71, 71);
}

.box-content p {
  font-size: 1.125em;
  padding: 0.5em 0;
}

.box-content a {
  color: rgb(53, 134, 255);
  text-decoration: none;
}

.box-content a:hover {
  color: rgb(8, 107, 255);
}

/*classes*/

.section-3 {
  background-color: rgb(216, 216, 216);
  color: rgb(71, 71, 71);
}

.section-3 h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  padding-top: 2em;
}

/*class-boxes*/
/*spec dimensions for this part are not possible. cannot have margins and 
padding given, and keep the content centered*/

.classes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.classes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  margin: 2em;
  width: 31.25em;
  height: 31.25em;
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

.classes img {
  height: auto;
  width: 100%;
}

.classes-text {
  padding: 1em 1em 1.5em 1em;
  font-family: "Open Sans", sans-serif;
}

.classes-text h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  padding-bottom: 1em;
  color: rgb(71, 71, 71);
}

.classes-text .courses {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
  padding-top: 0.5em;
  line-height: 1.8;
}

.classes-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
}

/*section-4*/

.section-4 h2 {
  font-family: "Open Sans", sans-serif;
  color: rgb(71, 71, 71);
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  padding-top: 2em;
}

/*video side*/

.exhibit-flex {
  display: flex;
  flex-wrap: wrap;
}

.exhibit-flex .reimagine-urban {
  width: 60%;
  box-sizing: border-box;
  padding: 2.5em 2em;
}

video {
  width: 100%;
  height: auto;
}

.reimagine-urban h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  color: rgb(71, 71, 71);
  padding-top: 1.5em;
}

.reimagine-urban p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
  padding-top: 0.5em;
}

/*(news, box, images, box-content) rules are set in section-2*/

/*footer*/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  height: 4em;
  background-color: white;
  color: black;
  border-top: 1px rgb(228, 228, 228) solid;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
}

footer li {
  display: inline-block;
  padding-left: 1em;
  opacity: 0.9;
}

footer a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  color: black;
  text-decoration: none;
}

/*media*/

@media only screen and (min-width: 880px) {
  .mobile-images {
    display: none;
  }
}

@media only screen and (max-width: 879px) and (min-width: 560px) {
  header li {
    display: none;
  }

  .svg0 {
    display: none;
  }

  .mobile-images {
    display: flex;
    justify-content: space-around;
    width: 35%;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 559px) {
  header .logo {
    display: none;
  }

  header li {
    display: none;
  }

  .mobile-images {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
}
