* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

/*header*/

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  height: 64px;
  background-color: white;
  color: black;
}

/*logo*/

.logo {
  height: 32;
  font-family: Mukta;
  font-weight: light;
  font-size: 32px;
  color: black;
  opacity: 0.9;
}

.logo img {
  vertical-align: middle;
  height: 40px;
}

/*navbar*/

header li {
  display: inline-block;
  padding-left: 16px;
  opacity: 0.9;
}

header a {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: black;
  text-decoration: none;
}

/*main*/

/*banner*/

.section-1 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(216, 216, 216);
  color: rgb(71, 71, 71);
}

.leftside {
  width: 60%;
  box-sizing: border-box;
  padding: 32px 24px;
}

.students {
  width: 100%;
  height: auto;
}

.students img {
  width: 100%;
  height: auto;
}

.text-section-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left;
  justify-content: center;
  width: 30%;
}

.text-section-1 h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 56px;
}

.text-section-1 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.text-section-1 a {
  padding: 8px;
  margin-top: 20px;
  width: 85%;
  text-align: center;
  background-color: rgb(71, 71, 71);
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  color: white;
  text-decoration: none;
}

.text-section-1 a:hover {
  background-color: black;
  transition-delay: 50ms;
  transition-duration: 400ms;
}

/*articles*/

.section-2 {
  display: flex;
  flex-wrap: wrap;
  color: rgb(71, 71, 71);
}

.practice {
  width: 60%;
  box-sizing: border-box;
  padding: 32px 24px;
}

.practice .banner {
  width: 100%;
  padding-bottom: 32px;
}

.banner img {
  width: 100%;
}

.practice h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.practice p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-top: 24px;
}

.practice .author {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/*news*/

.news {
  width: 40%;
  box-sizing: border-box;
  border-left: 1px rgb(228, 228, 228) solid;
}

.box {
  display: flex;
  border-bottom: 1px rgb(228, 228, 228) solid;
  box-sizing: border-box;
}

.box:hover {
  background-color: rgb(216, 216, 216);
}

.box .images {
  width: 35%;
  height: auto;
  padding: 16px;
}

.images img {
  width: 100%;
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 65%;
  font-family: "Open Sans", sans-serif;
}

.box-content h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.box-content p {
  font-size: 18px;
  padding: 8px 0;
}

.box-content a {
  color: rgb(53, 134, 255);
  text-decoration: none;
}

.box-content a:hover {
  color: rgb(8, 107, 255);
}

/*classes*/

.section-3 {
  background-color: rgb(216, 216, 216);
  color: rgb(71, 71, 71);
}

.section-3 h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 32px;
}

/*class-boxes*/

.classes-list {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 72px;
}

.classes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  margin: 32px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

.classes img {
  height: auto;
  width: 100%;
}

.classes-text {
  padding: 16px 16px 24px 16px;
  font-family: "Open Sans", sans-serif;
}

.classes-text h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 16px;
  color: rgb(71, 71, 71);
}

.classes-text .courses {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding-top: 8px;
  line-height: 1.8;
}

.classes-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

/*section-4*/

.section-4 h2 {
  font-family: "Open Sans", sans-serif;
  color: rgb(71, 71, 71);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 32px;
}

/*video side*/

.exhibit-flex {
  display: flex;
  flex-wrap: wrap;
}

.exhibit-flex .reimagine-urban {
  width: 60%;
  box-sizing: border-box;
  padding: 32px 24px;
}

video {
  width: 100%;
  height: auto;
}

.reimagine-urban h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: rgb(71, 71, 71);
  padding-top: 24px;
}

.reimagine-urban p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding-top: 8px;
}

/*(news, box, images, box-content) rules are set in section-2*/

/*footer*/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  height: 64px;
  background-color: white;
  color: black;
  border-top: 1px rgb(228, 228, 228) solid;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

footer li {
  display: inline-block;
  padding-left: 16px;
  opacity: 0.9;
}

footer a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: none;
}
